{% extends 'base.html' %}

{% block title %}
    <title> {{ item.id }} </title>
{% endblock %}

{% block body %}
<div class="item_loc">
    <div class = item_id>
        <div class = item_img>
                <img class='item_img' src="../static/product_img/{{item.img}}" alt="not found">
        </div>
        <div class="item_title">{{ item.title }}</div>
        <div class="item_price">cost: {{ item.price }} $</div>
        <div class="item_cat">category: {{ item.category }}</div>
        <a href="{{ url_for('add_to_cart', item_id=item.id) }}" class="but">
            Add to cart
        </a>
        <a href="" class="but">
            Buy
        </a>
    </div>    
</div>
{% endblock %}